version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@8.1.2
  aws-ecr-helm: orbies/aws-ecr@1.2.1
  aws-eks: openbean/aws-eks@2.0.0
  aws-cli: circleci/aws-cli@2.0.6

workflows:
  deploy_to_eks:
    jobs:
      - aws-ecr/build-and-push-image:
          aws-access-key-id: AWS_ACCESS_KEY
          aws-cli-version: latest
          aws-secret-access-key: AWS_ACCESS_SECRET
          repo: '${AWS_ECR_REPO_NAME}'
          docker-login: false
          registry-id: AWS_ECR_REGISTRY_ID
          region: '${AWS_REGION_NAME}'
          tag: 'latest'
      - aws-ecr-helm/push-helm-chart:
          account-url: AWS_ECR_ACCOUNT_URL
          aws-access-key-id: AWS_ACCESS_KEY
          aws-secret-access-key: AWS_ACCESS_SECRET
          create-repo: false
          path: ./charts
          region: AWS_REGION_NAME
          repo: '${AWS_ECR_HELM_REPO_NAME}'
          tag: 1.0.0
      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY
          aws-secret-access-key: AWS_ACCESS_SECRET
          aws-region: AWS_REGION_NAME
      - aws-eks/install-helm-on-cluster:
          cluster-name: '${AWS_EKS_CLUSTER_NAME}'
          aws-region: '${AWS_REGION_NAME}'
      - aws-eks/install-helm-chart:
          chart: '${AWS_ECR_HELM_REPO_URL}'
          cluster-name: '${AWS_EKS_CLUSTER_NAME}'
          aws-region: '${AWS_REGION_NAME}'  