version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@8.1.2

workflows:
  build_and_push_image:
    jobs:
      - aws-ecr/build-and-push-image:
          aws-access-key-id: AWS_ACCESS_KEY
          aws-cli-version: latest
          aws-secret-access-key: AWS_ACCESS_SECRET
          repo: AWS_ECR_REPO_NAME
          registry-id: AWS_ECR_REGISTRY_ID
          region: AWS_REGION
          tag: 'latest'