# Default values for charts.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: 927728891088.dkr.ecr.us-west-2.amazonaws.com/flask-hello-world
  pullPolicy: IfNotPresent
  tag: "latest"

labels:
  env: "staging"
  cluster: "flask-helm-charts-circleci"


service:
  port: 5000
  targetPort: 5000
  type: LoadBalancer

replicaCount: 1

autoscaling:
  enabled: false

ingress:
  enabled: false

imagePullSecrets:
  - name: regcred